<div class="modal fade" id="divideModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="divideModalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <p class="h4">1 / n</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container justify-content-start">
                    <table class="mb-4">
                        <tr>
                            <td style="width : 70%;"> <input class="text-end pe-2" id="DivideNumber" type="number" style="font-size:30px; width:100%;" /> </td>
                            <td class="justify-content-end ps-2" style="width : 30%;">
                                <button class="btnDeleteDivide btn btn-danger waves-effect waves-light" style="font-size: 24px; width:100%;">
                                    <i class="dripicons-tag-delete"></i>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <div class="col-12 d-flex">
                        <div class="col-3 d-flex flex-column h-100 pe-2">
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">1</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">4</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">7</button>
                        </div>
                        <div class="col-3 d-flex flex-column h-100 pe-2">
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">2</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">5</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">8</button>
                        </div>
                        <div class="col-3 d-flex flex-column h-100 pe-2">
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">3</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">6</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px;">9</button>
                        </div>
                        <div class="col-3 d-flex flex-column h-100">
                            <button class="btnCalculate btn btn-success mb-2 waves-effect waves-light" style="font-size: 24px;">=</button>
                            <button class="btnNumberDivide btn btn-secondary mb-2 waves-effect waves-light" style="font-size: 24px; height:108px;">0</button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
