@using Restorant.Models;
@model AppUser;

<head>
    <title>Şifre Değiştir</title>
</head>

<body class="authentication-bg">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary fw-bold">Şifre Değiştir</h5>
                            </div>
                            <div class="p-2 mt-3">
                                <div class="mb-5">
                                    <label class="form-label fw-bold" for="oldPassword">Eski Şifre</label>
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Eski şifrenizi giriniz" required>
                                </div>
                                
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="newPassword">Yeni Şifre</label>
                                    <input type="password" class="form-control" id="newPassword" title="Yeni şifreniz en az 8 karakter olup; 1 büyük harf, 1 küçük harf, 1 rakam ve 1 özel karakter içermelidir ve boşluk içermemelidir" name="newPassword" placeholder="Yeni şifrenizi giriniz" required>
                                </div>
                                <div id="progressbarContainer" class="progress progress-sm animated-progess p-1 d-none">
                                    <div class="progress-bar" role="progressbar" id="progressbar"></div>
                                </div>
                                <div class="mb-2 p-1">
                                    <div class="d-none" id="progressbarText"></div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="confirmNewPassword">Onayla</label>
                                    <input type="password" class="form-control" id="confirmNewPassword" title="Yeni şifreniz en az 8 karakter olup; 1 büyük harf, 1 küçük harf, 1 rakam ve 1 özel karakter içermelidir ve boşluk içermemelidir" name="confirmNewPassword" placeholder="Yeni şifrenizi tekrar giriniz" required>
                                </div>
                                <div>
                                    <div class="d-none p-1" id="confirmNewPasswordText"></div>
                                </div>
                                <div class="mb-2 p-1">
                                       <input class="form-check-input" type="checkbox" value="" id="showPasswordCheckBox">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Şifreleri Göster
                                        </label>
                                </div>

                                <div class="mt-3 text-end">
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light fw-bold form-control" id="btnSave">Kaydet</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    @section Scripts{


        <script>
            $(document).ready(function () {
                Waves.init();
                $("#btnSave").off().on("click", changePassword);
                $("#newPassword").off().on("input", controlProgressBar);
                $("#confirmNewPassword").off().on("input", confirmNewPassword);
                $("#showPasswordCheckBox").off().on("change", showPassword);
            });
            function showPassword(){
                var newPasswordInput = $("#newPassword");
                var confirmNewPasswordInput = $("#confirmNewPassword");
                if (this.checked) {
                    newPasswordInput.attr("type", "text");
                    confirmNewPasswordInput.attr("type", "text");
                } else {
                    newPasswordInput.attr("type", "password");
                    confirmNewPasswordInput.attr("type", "password");
                }
            }
            function confirmNewPassword() {
                if ($("#confirmNewPassword").val().length === 0) {
                    $("#confirmNewPasswordText").removeClass("text-danger text-success").addClass("d-none").text("");
                } else {
                    if ($("#newPassword").val() === $("#confirmNewPassword").val()) {
                        $("#confirmNewPasswordText").removeClass("d-none text-danger fw-bold").addClass("text-success fw-bold").text("Şifreler eşleşti");
                    } else {
                        $("#confirmNewPasswordText").removeClass("d-none text-success fw-bold").addClass("text-danger fw-bold").text("Şifreler eşleşmiyor");
                    }
                }
            }
            function controlProgressBar() {
                var password = $("#newPassword").val();
                if (password.length === 0) {
                    $("#progressbarText").removeClass("text-danger text-warning text-success fw-bold").addClass("d-none").text("");
                    $("#progressbar").css("width", "0%");
                    $("#progressbar").removeClass("bg-danger bg-warning bg-success");
                    $("#progressbarContainer").addClass("d-none");
                } else if (password.length > 0 && password.length < 8) {
                    $("#progressbarText").removeClass("d-none text-danger text-warning text-success fw-bold").addClass("text-danger fw-bold").text("Zayıf");
                    $("#progressbar").css("width", "33%");
                    $("#progressbar").removeClass("bg-danger bg-warning bg-success").addClass("progress-bar bg-danger");
                    $("#progressbarContainer").removeClass("d-none")
                } else if (password.length >= 8 && password.length < 14) {
                    $("#progressbarText").removeClass("d-none text-danger text-warning text-success fw-bold").addClass("text-warning fw-bold").text("Orta");
                    $("#progressbar").css("width", "66%");
                    $("#progressbar").removeClass("bg-danger bg-warning bg-success").addClass("progress-bar bg-warning");
                    $("#progressbarContainer").removeClass("d-none")
                } else if (password.length >= 14) {
                    $("#progressbarText").removeClass("d-none text-danger text-warning text-success fw-bold").addClass("text-success fw-bold").text("Güçlü");
                    $("#progressbar").css("width", "100%");
                    $("#progressbar").removeClass("bg-danger bg-warning bg-success").addClass("progress-bar bg-success");
                    $("#progressbarContainer").removeClass("d-none")
                }

                if ($("#confirmNewPassword").val().length === 0) {
                    $("#confirmNewPasswordText").removeClass("text-danger text-success").addClass("d-none").text("");
                } else {
                    if ($("#newPassword").val() === $("#confirmNewPassword").val()) {
                        $("#confirmNewPasswordText").removeClass("d-none text-danger fw-bold").addClass("text-success fw-bold").text("Şifreler eşleşti");
                    } else {
                        $("#confirmNewPasswordText").removeClass("d-none text-success fw-bold").addClass("text-danger fw-bold").text("Şifreler eşleşmiyor");
                    }
                }
            }
            function changePassword() {
                var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var confirmNewPassword = $("#confirmNewPassword").val();
                if(!oldPassword){
                    toastr.error("Eski şifre alanı boş bırakılamaz")
                    return;
                }
                if (newPassword === confirmNewPassword) {
                    if (newPassword.length >= 8 && newPassword.match(/[a-zA-Z0-9!#$%^&*()]/) && !newPassword.match(/\s/)) {
                        $.ajax({
                            type: "POST",
                            url: "/AppUser/ChangePassword",
                            data: {
                                oldPassword: oldPassword,
                                newPassword: newPassword
                            },
                            success: function (res) {
                                $("#oldPassword").val("");
                                $("#newPassword").val("");
                                $("#confirmNewPassword").val("");
                                $("#progressbarText").removeClass("text-danger text-warning text-success fw-bold").addClass("d-none").text("");
                                $("#progressbar").css("width", "0%");
                                $("#progressbar").removeClass("bg-danger bg-warning bg-success");
                                $("#progressbarContainer").addClass("d-none");
                                $("#confirmNewPasswordText").removeClass("text-danger text-success").addClass("d-none").text("");


                                toastr.success("Şifreniz başarıyla değiştirildi");
                            },
                            error: function (res) {
                                if (res.responseText != null) {
                                    toastr.error(res.responseText);
                                }
                            }
                        });
                    } else {
                        toastr.error("Şifreniz en az 8 karakter olup; 1 büyük harf, 1 küçük harf, 1 rakam ve 1 özel karakter içermelidir ve boşluk içermemelidir");
                    }
                } else {
                    toastr.error("Yeni şifreleriniz eşleşmiyor");
                }
            }

        </script>
    }
</body>
